[submodule "quickscad-frontend"]
	path = webscad-frontend
	url = https://github.com/Styku/quickscad-frontend.git
[submodule "quickscad-backend"]
	path = webscad-backend
	url = https://github.com/Styku/quickscad-backend.git
